body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
.sort{
  width: 100%;
}
.sel {
  background-image: url("../../Images/Love.jpg");
  
}
.gutter-2.row {
  margin-right: 0px;
  margin-left: 0px;
}
.gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
  padding-right: 20px;
  padding-left: 0px;
}

.t{
  right: 10%;
}
.Rows
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{
    display: table-cell;
   
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.bg-image{
  /* The image used */
  background-image: url("../../Images/Background7.jpg");
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.loader {

  margin-left:45%;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 5s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.zipcodecover{
  text-align: center;
  visibility: hidden;


}
.zipcode{
  background-color: grey;
  position: absolute;
  bottom: 85%;
  right:1%;
}
.icons{
  background-color: yellow;
  position: absolute;
  bottom: 85%;
  left:2%;
}
.searchbar {
  position: absolute;
  bottom: 51%;
}
.selector {
  position: absolute;
  left: 30px;
  top: 225px;
}
.priceslider {
  position: absolute;
  left: 30px;
  top: 100px;

}

.distanceslider {
  position: absolute;
  left: 176px;
  top: 100px;
}

.priceselectorcontainer{
  padding-left:5%;
  position: absolute;
  bottom: 62%;
}

.hospitalselector{
  position: absolute;
  bottom: 1%;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.center-div
{
     padding-left: 1%;
     width: 100px;
}

.FrontEndUIElements
{
  padding-left: 15%;
  padding-top: 18%;
  width: 150%;
}
