<!DOCTYPE html>
<html>
<head>


</head>
<body [style.height.px]="getheight(100)" >

  <app-geolocation></app-geolocation>

  <div class="bg">
    <h1 class="font-weight-bold" style="font-family: Roboto, sans-serif;text-align: center; color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; ">Freedom 4 U</h1>
    <div style="margin-left:42%; margin-top: 15%" class="search">
      <!--<small style="height: 50%; text-align: center; color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Freedom isn't free</small>-->
      <app-searchbar style="width: 20%;"></app-searchbar>
      <br>
    </div>
  </div>
  <div class="container" ng-hide="isHidden">
        <div class="col-sm">
          <!--<app-rangeslider></app-rangeslider>-->

        </div>

        <div class="col-md"  >
            <!--<app-rangeslider></app-rangeslider>-->
        </div>

      </div>
      <div class="row">

         <!--<div class="col-sm" style="top: 20px">

            <app-searchbar style=" display: table-cell; width:100px;"></app-searchbar>
            <app-select style=" display: table-cell; "></app-select>


            <div style=" display: table-cell; margin-left:100px;"  >
              <button class="zipcodebutton"  id ="44" (click)="getuserlocation()"   style=" margin-left:50px;">autofind location</button>
              <p style=" display: table-cell; margin-left:50px;  float:left;">or</p>
              <div id="99" class="zipcodecover" [style.width.px]="100" [style.height.px]="40">
                <div class="loader" ></div><p>getting location</p>
              </div>

            </div>

            <div style=" display: table-cell; margin-left:100px;">
              <button class="search"  id ="44"   >search</button>
              <div id="999" class="zipcodecover" [style.width.px]="getwidth(37)" [style.height.px]="getheight(13)">
                <div class="loader" ></div><p>getting location</p>
              </div>
            </div>

            <br>
          </div>
        -->
          <div class="col-sm">


          </div>
          <div class="col-sm">

          </div>

        </div>
        <div class="row" >
          <div class="col-md-auto" style="width: 40%; height: 100%" id="hospitals">
            <div class="center-div"><app-select></app-select></div>
            <app-hospitalselecter></app-hospitalselecter>
            </div>
            <div class="col-md-auto">
              <app-map style="height:200px; width: 200px; position: absolute;"
              [style.height.px]="getheight(100)"[style.width.px]="getwidth(55)">
              </app-map>
            </div>
          </div>


<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>

</html>
