<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body [style.height.px]="getheight(100)" >
<div id="top" style="display: hidden"></div>
<!--Elements in the background-->
<div class="bg-image" id="test"></div>
  <div class="bg-text">

    <h1 class="font-weight-bold" style="font-family: Roboto, sans-serif;text-align: center; color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; ">Freedom 4 U</h1>
      <app-geolocation></app-geolocation>
      <app-searchbar></app-searchbar>

  </div>
  <!--Elements on the bottom part of the page-->
  <div id="bottom" style="display: none">

    <div class="container" >
        <div class="row justify-content-md-left" >
            <div class="col-sm-auto" style="right: 7%; bottom: 10em;">
              <app-back id="back"></app-back>
            </div>

            <div class="col-sm-4" style="right: 9%; bottom: 10em;">

              <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false" aria-label="Filters">
              <mat-expansion-panel-header>
              <mat-panel-title>
                  Filters
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                </mat-expansion-panel-header>
                <app-select></app-select>

                <app-distance-sorter></app-distance-sorter>
              </mat-expansion-panel>
              </div>

        </div>
        <div class="gutter-2 row justify-content-md-left">
          <div class="col-sm-5 "id="hospitals" style="right: 7%; bottom: 9em;">
            <app-hospitalselecter></app-hospitalselecter>

          </div>
          <div class="col-sm-6" style="right: 7%; bottom: 9em;">
            <app-map style="height:100%; width: 100%; position: absolute;"
            [style.height.px]="getheight(110)"[style.width.px]="getwidth(62)">
            </app-map>
          </div>
        </div>
      </div>
  </div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/6.6.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->

  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>
</body>

</html>
