<div class="parent">
  <mat-form-field>
    <div style="text-align:center;">
      <mat-label tabindex="6" id="label" name="Sort By">Sort By</mat-label>
      <mat-select tabindex="6" [(value)]="selected" id="select">
          <mat-option>None</mat-option>
          <mat-option tabindex="6" value="Distance" name="Distance" >{{filterOptions[0]}}</mat-option>
          <mat-option tabindex="6" value="Price" name="Price" (click)="sortPrice()">{{filterOptions[1]}}</mat-option>
      </mat-select>
      </div>
  </mat-form-field>
  </div>
