<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<!--<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Condition</th>
            <th scope="col">Hospital Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hospital of hospitalList">
            <td>{{ hospital.description }}</td>
            <td>{{ hospital.hospital }}</td>
            <td>{{ hospital.cost }}</td>

          </tr>


        </tbody>
      </table>
    </div>-->
<div class="hospitalselector"  >
  <div class="list-group" *ngFor = "let hospital of hospitalList | paginate: { itemsPerPage: 3  , currentPage: p } ; let i = index" >
    <a    id={{i}} class="list-group-item list-group-item-action flex-column align-items-start" (click)="highlight(i);">
      <div class="d-flex w-50 justify-content-between">
        <h6 class="mb-1">{{hospitalList[i].hospital}}</h6>
        <h6 class="mb-2">Price: ${{ hospital.cost }} </h6>
      </div>
      <small>{{hospital.description}}</small>
    </a>
  </div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
