<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class="hospitalselector"  >
  <div class="list-group" *ngFor = "let hospital of hospitalList | paginate: { itemsPerPage: 8  , currentPage: p } ; let i = index" >
    <a id={{i}} class="list-group-item list-group-item-action flex-column align-items-start" (click)="highlight(i);" (keyup.enter)="highlight(i);">
      <div class="d-flex w-100 justify-content-between" >
        <h6 class="mb-1"tabindex="9">{{hospital.providerName}}</h6>
        <h6 class="mb-2" tabindex="9">Price: {{steven(i) | currency}} </h6>
      </div>
      <small tabindex="9" name="Distance">Distance</small><p>{{getdistance(hospital.providers_ID,i,p)| number:'.0'}} Miles</p>
    <div style="height:20px; width:20px;" [style.background-color]="getColor(i,p)">aaa</div>
    </a>
  </div>

<pagination-controls tabindex="9" (pageChange)="p = $event"></pagination-controls>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
