.search{
    display: inline-block; /* the default for span */
}
::ng-deep .mat-snack-bar-container{
  color: white !important;
  background-color: #e95656 !important;
  border-color: black !important;
}
::ng-deep .mat-simple-snackbar-action {
  color: red;
}
#formSelect {

  width: 50%
}

#state {
  width: 50%
}

#search {
  width: 50%;
}
