
<agm-map [latitude]="focusLocation.lat" [longitude]="focusLocation.lng"
  [zoom]="zoom"
  style="height:100%; width: 100%;"
  >


  <agm-marker [latitude]="userLocation.lat" [longitude]="userLocation.lng"
    [label]=""
    [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'">
  </agm-marker>

  <!-- This is the bit that needs replaced with a variable :) -->
  <agm-circle [latitude]="userLocation.lat" [longitude]="userLocation.lng"
    [radius]="distanceRestriction" [fillColor]="fill" [fillOpacity]="opacity" [strokeColor]="sColour" [strokeWeight]="sWeight">
  </agm-circle>

  <agm-circle [latitude]="focusLocation.lat" [longitude]="focusLocation.lng" 
  [radius]="700" [fillColor]="green" [fillOpacity]="0.7" [strokeColor]="sColour" [strokeWeight]="sWeight">
</agm-circle>


  <div class="mapContainer">
  <!--- <agm-marker-cluster
      [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
  -->
      <!-- loop through each hospital -->
      <ng-template ngFor let-item [ngForOf]="top20Providers" let-i="index" [ngForTrackBy]="trackByFn">
        <agm-marker [latitude]="top20Providers[i].lat" 
          [longitude]="top20Providers[i].lng"
          [label]="">
          <agm-info-window [disableAutoPan]="true">
            {{top20Providers[i].providerName}}: ${{
              top20Providers[i].averageTotalPayments - top20Providers[i].averageMedicarePayments | number:'.0'
            }}
          </agm-info-window>
        </agm-marker>
      </ng-template>
   <!-- </agm-marker-cluster> -->
  </div>
</agm-map>
