<!DOCTYPE html>
<html>
<head>
<style>


.priceselectorcontainer{

padding-left:5%;
position: absolute;
 bottom: 62%;
background-color: red;
}
.hospitalselector{

background-color: blue;
position: absolute;
 bottom: 1%;


}

.searchbar{

background-color: green;
position: absolute;
 bottom: 51%;


}

.zipcode{

background-color: grey;
position: absolute;
 bottom: 85%;
right:1%;

}

.icons{

  background-color: yellow;
  position: absolute;
   bottom: 85%;
  left:2%;


}

</style>
</head>
<body [style.height.px]="getheight(100)" >



<div class="priceselectorcontainer" [style.width.px]="getwidth(90)" [style.height.px]="getheight(20)">

</div>

<div class="hospitalselector" [style.width.px]="getwidth(40)" [style.height.px]="getheight(49)">

</div>

<div class="searchbar" [style.width.px]="getwidth(40)" [style.height.px]="getheight(10)">

</div>

<div class="zipcode" [style.width.px]="getwidth(37)" [style.height.px]="getheight(13)">

</div>

<div class="icons" [style.width.px]="getwidth(42)" [style.height.px]="getheight(14)">

</div>
  <agm-map [latitude]="lat" [longitude]="lng" style="height:200px; width: 200px; position: absolute; bottom: 1%; right:1%;" [style.height.px]="getheight(59)"[style.width.px]="getwidth(54)">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>




</body>

</html>
