<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<button  class="autoButton" type="button"  id="save" aria-label="AutoFind Location" (click)="getLocation()"
matTooltip="Find your location automatically" matTooltipPosition="above">
    <i class="fa fa-map-marker" name="Icon" ></i>
</button>


<input class="auto" (focusout)="getMLocation()"
 (keydown.enter)="getMLocation()" name="addressBox" id ="addressBox" placeholder="Enter Address"
 value="{{text}}" [(ngModel)]="textValue" #search [formControl]="searchControl"
 aria-label="Enter your address" required>
<button class="switchButton" aria-label="Switch between state select and address"
    matToolTip="Switch between state select and address"  matTooltipPosition="above" 
    aria-label="Click to switch to between Address and State Selector" (click)="switch()">
    <i class="fa fa-random" name="Icon" ></i>
</button>
<select id="stateSelector" disabled [(ngModel)]="stateValue"(focusout)="getMLocation()">
    <option aria-label="Select A State to search for hospitals in that state"value="">State Selector</option>
    <option *ngFor="let item of states" [value]="item">{{item}}</option>

</select>

<!--<button  (click)="getMLocation()"><i class="fa fa-search"></i></button>-->
