#addressBox {
  width: 97%;
}
#stateSelector{
  width: 97%;
}
.switchButton{
  width: 3%;

}
.autoButton{
  width: 3%;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #6041b0;
}
::ng-deep .mat-snack-bar-container{
  color: white !important;
  background-color: #e95656 !important;
  border-color: black !important;
}
::ng-deep .mat-simple-snackbar-action {
  color: red;
}

#button {
  left: 300px;
}

.auto{
  left: 2%;
}
.stateSelector {
  width: 50%;
  position: relative;
  top: 300px;
}
